input#addtodo {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}
.fullpage {
    background: #000;
}
.todo {
    width: 100%;
    background: linear-gradient( 90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100% );
    margin-bottom: 1em;
    color: #fff;
}
.btnsubmit {
    padding: 7px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient( 90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100% );
    color: #fff;
    text-transform: capitalize;
}
.form-inline {
    margin-bottom: 1em;
}
.todo.card button {
    margin-left: 8px;
    padding: 0;
    font-size: 17px;
    text-align: right;
    float: right;
    color: #fff;
}
p.success-msg {
    color: green;
    font-size: 12px;
    width: 100%;
    margin-bottom: 2px;
}
.edditTodo {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 334px !important;
    background: transparent;
    color: #fff;
}
button.btnEdit {
    margin-left: 0 !important;
    background: linear-gradient( 90deg, rgb(28 63 87) 0%, rgba(17, 122, 255, 1) 100% );
    padding: 8px !important;
    font-size: 12px !important;
    border-radius: 0 4px 4px 0;
}
.editform {
    margin-bottom: 2px !important;
}

h1.title {
    color: #fff;
    font-size: 13px;
}